/* Base styles for React Spectrum */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;

  @media print {
    * {
      display: block !important;
      position: relative !important;
      width: auto !important;
      height: auto !important;
      overflow: visible !important;
      margin-left: 0 !important;
    }
    #header {
      display: none !important;
    }
  }
}
